{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container manyfews-forms">
  <h3>{% trans "Forgot your password?" %}</h3>
  <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

  <form method="post" class="account-form">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="form-group auth">
      <input type="submit" class="btn btn-success" value="{% trans 'Send password reset' %}" id="reset-password-submit">
      <a href="{% url 'login' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </div>
  </form>

</div>
{% endblock %}
