{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container manyfews-forms">
  {% if validlink %}
    <h3>{% trans "Enter new password" %}</h3>

    <form method="post" class="account-form">
      {% csrf_token %}
      {{ form|crispy }}

      <div class="form-group auth">
        <input type="submit" class="btn btn-success" value="{% trans 'Change password' %}" id="confirm-reset-password-submit">
      </div>
    </form>
  {% else %}

    <p>
      {% trans "The password reset link was invalid, possibly because it has already been used." %}
      {% trans "Please" %} <a href="{% url 'password_reset' %}">{% trans "request a new password reset" %}</a>.
    </p>

  {% endif %}

</div>
{% endblock %}
